doctrine:
  dbal:
    connections:
      mssql:
        driverClass:   Lsw\DoctrinePdoDblib\Doctrine\DBAL\Driver\PDODblib\Driver
        host:     ~
        dbname:   ~
        user:     ~
        password: ~
        charset:  UTF8
      mysql:
        driver:   ~
        host:     ~
        port:     ~
        dbname:   ~
        user:     ~
        password: ~
        charset:  UTF8
